---
import ENSAdminCTAButton from "@components/atoms/ENSAdminCTAButton.astro";
import snapshot from "@data/omnigraph-examples/snapshot.json";

const { instanceURL, connectWithENSAdminURL, namespace, ensVersions, plugins } = Astro.props;
const hostedEnsNodeVersion = snapshot.version;
---

<table style={{ marginTop: "0" }}>
  <tbody>
    <tr>
      <td style={{ verticalAlign: "middle", paddingTop: "25px" }}>Hosted at</td>
      <td
        style={{ marginTop: "20px" }}
        class="flex flex-col xl:flex-row justify-start xl:items-center gap-4">
        <a
          class="sl-markdown-content underline underline-offset-4 hover:underline-offset-2 transition-[text-underline-offset] duration-200"
          href={instanceURL}>{instanceURL}</a
        >
        <div class="not-content">
          <ENSAdminCTAButton ensAdminHref={connectWithENSAdminURL} text="Connect with ENSAdmin" />
        </div>
      </td>
    </tr>
    <tr>
      <td style={{ verticalAlign: "middle" }}>ENSNode Version</td>
      <td>{hostedEnsNodeVersion}</td>
    </tr>
    <tr>
      <td style={{ verticalAlign: "middle" }}>ENS Namespace</td>
      <td>{namespace}</td>
    </tr>
    <tr>
      <td style={{ verticalAlign: "middle" }}>ENS Versions</td>
      <td>{ensVersions}</td>
    </tr>
    <tr>
      <td>ENSNode Plugins</td>
      <td set:html={plugins} />
    </tr>
    <tr>
      <td>ENSApi Services</td>
      <td>
        <dl>
          <dt>ENS Omnigraph API <slot name="ens-omnigraph-api-icon" /></dt>
          <dd class="pl-0"><slot name="ens-omnigraph-api" /></dd>
          <dt>ENS Protocol Acceleration <slot name="ens-protocol-acceleration-icon" /></dt>
          <dd class="pl-0"><slot name="ens-protocol-acceleration" /></dd>
          <dt>ENS Subgraph API <slot name="ens-subgraph-api-icon" /></dt>
          <dd class="pl-0"><slot name="ens-subgraph-api" /></dd>
        </dl>
      </td>
    </tr>
  </tbody>
</table>
